.about-info.d-flex.justify-content-between
    span.section-title О нас
    .desc.d-block.d-lg-none
        p Привлекательная внешность и красота – это богатство, подаренное человеку природой. Не удивительно, что каждый стремится сохранить этот дар, пронести его через годы своей жизни. Сберечь, а зачастую восстановить или вернуть молодость и красоту помогает косметология.
        p Современная косметология – это наука, помогающая людям стать моложе и красивее, обрести счастье и уверенность в себе. Все косметологические процедуры у нас основаны на достижениях науки и исследованиях ведущих мировых компаний данной отрасли.

    .slider-controls
        .about-slider.owl-carousel.owl-theme
            img(src="../../assets/images/about_img.jpg").slide
            img(src="../../assets/images/about_img.jpg").slide
            img(src="../../assets/images/about_img.jpg").slide
    .desc.d-none.d-lg-block
        p Привлекательная внешность и красота – это богатство, подаренное человеку природой. Не удивительно, что каждый стремится сохранить этот дар, пронести его через годы своей жизни. Сберечь, а зачастую восстановить или вернуть молодость и красоту помогает косметология.
        p Современная косметология – это наука, помогающая людям стать моложе и красивее, обрести счастье и уверенность в себе. Все косметологические процедуры у нас основаны на достижениях науки и исследованиях ведущих мировых компаний данной отрасли.
.why-choose-us
    span.title Почему Вам стоит обратиться к нам?
    .d-flex.justify-content-between.mt-4.flex-column.flex-lg-row
        .custom-card.d-flex.flex-column.align-items-center
            .num.d-flex.justify-content-center.align-items-center
                span 1
            span.custom-card-title Индивидуальный подход
            p.custom-card-desc Перед началом процедур исследуется состояние кожи и подбирается комплексный метод лечения или омоложения.
        .custom-card.d-flex.flex-column.align-items-center
            .num.d-flex.justify-content-center.align-items-center
                span 2
            span.custom-card-title Выгодные цены на процедуры
            p.custom-card-desc Мы постоянно проводим акции и скидки, что позволяет нашим клиентам приятно экономить.
        .custom-card.d-flex.flex-column.align-items-center
            .num.d-flex.justify-content-center.align-items-center
                span 3
            span.custom-card-title График работы и местоположение
            p.custom-card-desc Мы расположены в центре города Днепр и работаем для Вас с 08:00 до 20:00 без перерыва.
