.price-list-wrapper
    span.price-list-title Price list
    .row
        .col-lg-6.col-12
            ul.list.list-1
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$
        .col-lg-6.col-12
            ul.list.list-2
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$
                li.list-item.d-flex.align-items-center.justify-content-between
                    span.name Aquashine Classic
                    span.price 160$

.contact-form
    span.footer-title У вас остались еще вопросы или хотите записаться?
    form.row
        .col-lg-6
            input(type="text" placeholder="Ваше имя").form-control
        .col-lg-6
            input(type="text" placeholder="Ваш телефонный номер").form-control
        .col-lg-12
            button(type="submit").sign-up.d-flex.align-items-center
                span Отправить данные
                img(src="../../assets/images/arrow.svg")
            span.call-you Мы вам перезвоним
