
.promo-slider.owl-carousel.owl-theme
    .slide
        img(src='../../assets/images/slider-img.png').slider-img
        .slide-content
            .title Aesthetic House
            .sub-title Клиника эстетической медицины!
            a(href="").sign-up.d-flex.align-items-center
                span Записаться
                img(src="../../assets/images/arrow.svg")
    .slide
        img(src='../../assets/images/slider-img.png').slider-img
        .slide-content
            .title Aesthetic House
            .sub-title Клиника эстетической медицины!
            a(href="").sign-up.d-flex.align-items-center
                span Записаться
                img(src="../../assets/images/arrow.svg")
    .slide
        img(src='../../assets/images/slider-img.png').slider-img
        .slide-content
            .title Aesthetic House
            .sub-title Клиника эстетической медицины!
            a(href="").sign-up.d-flex.align-items-center
                span Записаться
                img(src="../../assets/images/arrow.svg")
.promo-content.flex-column.align-items-center
    span.title Aesthetic House
    span.sub-title Клиника эстетической медицины!
    a(href="").sign-up.d-flex.align-items-center
        span Записаться
        img(src="../../assets/images/arrow.svg")
