header.d-flex.justify-content-between.align-items-end
    img(src='../../assets/images/logo.png').logo
    .navbar.navbar-expand-lg
        button(type="button" data-toggle="collapse" data-target="#burger" aria-controls="burger" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
            span.navbar-toggler-icon
                img(src='../../assets/images/burger.svg')
        .collapse.navbar-collapse#burger
            img(src='../../assets/images/collapse-bg.png').collapse-bg
            .navbar-nav-wrapper
                ul.navbar-nav
                    li.nav-item.active
                        a(href="").nav-link Главная
                    li.nav-item
                        a(href="").nav-link О нас
                    li.nav-item
                        a(href="").nav-link Услуги
                    li.nav-item
                        a(href="").nav-link Команда
                    li.nav-item
                        a(href="").nav-link Контакты
                .collapse-socials.align-items-center
                    a(href="")
                        img(src='../../assets/images/instagram-gold.svg')
                    a(href="")
                        img(src='../../assets/images/facebook-gold.svg')
    img(src='../../assets/images/logo.png').logo-mobile
    a(href="").phone
        img(src='../../assets/images/phone.svg')
.promo-slider.owl-carousel.owl-theme
    .slide
        img(src='../../assets/images/slider-img.png').slider-img
        .slide-content
            .title Aesthetic House
            .sub-title Клиника эстетической медицины!
            a(href="").sign-up.d-flex.align-items-center
                span Записаться
                img(src="../../assets/images/arrow.svg")
    .slide
        img(src='../../assets/images/slider-img.png').slider-img
        .slide-content
            .title Aesthetic House
            .sub-title Клиника эстетической медицины!
            a(href="").sign-up.d-flex.align-items-center
                span Записаться
                img(src="../../assets/images/arrow.svg")
    .slide
        img(src='../../assets/images/slider-img.png').slider-img
        .slide-content
            .title Aesthetic House
            .sub-title Клиника эстетической медицины!
            a(href="").sign-up.d-flex.align-items-center
                span Записаться
                img(src="../../assets/images/arrow.svg")
.promo-content.flex-column.align-items-center
    span.title Aesthetic House
    span.sub-title Клиника эстетической медицины!
    a(href="").sign-up.d-flex.align-items-center
        span Записаться
        img(src="../../assets/images/arrow.svg")
