span.section-title Биоревитализация
span.sub-title Косметологи: Роксана Твардовская, Кристина Ващенко, Инна Дементьева
p Биоревитализация – это насыщение глубоких слоев кожи водой, витаминами и другимиполезными веществами.
p Процедура биоревитализации выполняется в виде микроинъекций, с помощью которых под кожу доставляется гиалуроновая кислота и другие полезные вещества, восстанавливающие водный баланс кожи и активизирующие в ней обменные процессы.
p Биоревитализация показана обладателям сухой, тонкой кожи и тем, кого беспокоят шелушение, ощущение стянутости. Это наиболее оптимальный способ и для восстановления кожи после отдыха на солнечном курорте. Противопоказания к процедуре стандартные: беременность и лактация, злокачественные опухоли и новообразования, обострение хронических кожных заболеваний, аутоиммунные болезни и склонность к образованию келоидных рубцов.
a(href="").sign-up.d-flex.align-items-center
    span Записаться
    img(src="../../assets/images/arrow.svg")
