.services-slider.owl-carousel
    .slide
        .slider-card.d-flex.flex-column
            img(src='../../assets/images/services-slider-img.jpg')
            .slider-card-title
                span Название услуги
        .slider-desc.d-flex.flex-column
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus explicabo facilis maxime minus nesciunt, quod? Eos excepturi labore qui! Ad architecto cupiditate distinctio, exercitationem impedit libero sequi suscipit tempora.
            a(href="").sign-up.d-flex.align-items-center.align-self-end
                span Записаться
                img(src="../../assets/images/arrow.svg")
    .slide
        .slider-card.d-flex.flex-column
            img(src='../../assets/images/services-slider-img.jpg')
            .slider-card-title
                span Название услуги
        .slider-desc.d-flex.flex-column
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus explicabo facilis maxime minus nesciunt, quod? Eos excepturi labore qui! Ad architecto cupiditate distinctio, exercitationem impedit libero sequi suscipit tempora.
            a(href="").sign-up.d-flex.align-items-center.align-self-end
                span Записаться
                img(src="../../assets/images/arrow.svg")
    .slide
        .slider-card.d-flex.flex-column
            img(src='../../assets/images/services-slider-img.jpg')
            .slider-card-title
                span Название услуги
        .slider-desc.d-flex.flex-column
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus explicabo facilis maxime minus nesciunt, quod? Eos excepturi labore qui! Ad architecto cupiditate distinctio, exercitationem impedit libero sequi suscipit tempora.
            a(href="").sign-up.d-flex.align-items-center.align-self-end
                span Записаться
                img(src="../../assets/images/arrow.svg")
    .slide
        .slider-card.d-flex.flex-column
            img(src='../../assets/images/services-slider-img.jpg')
            .slider-card-title
                span Название услуги
        .slider-desc.d-flex.flex-column
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus explicabo facilis maxime minus nesciunt, quod? Eos excepturi labore qui! Ad architecto cupiditate distinctio, exercitationem impedit libero sequi suscipit tempora.
            a(href="").sign-up.d-flex.align-items-center.align-self-end
                span Записаться
                img(src="../../assets/images/arrow.svg")
    .slide
        .slider-card.d-flex.flex-column
            img(src='../../assets/images/services-slider-img.jpg')
            .slider-card-title
                span Название услуги
        .slider-desc.d-flex.flex-column
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ducimus explicabo facilis maxime minus nesciunt, quod? Eos excepturi labore qui! Ad architecto cupiditate distinctio, exercitationem impedit libero sequi suscipit tempora.
            a(href="").sign-up.d-flex.align-items-center.align-self-end
                span Записаться
                img(src="../../assets/images/arrow.svg")

.title-absolute
    span.section-title Услуги

.thumbnail-services-slider.owl-carousel
    .slide.d-flex.flex-column
        img(src='../../assets/images/thumbnail-services.jpg')
        .slide-title
            span Контурная пластика
    .slide.d-flex.flex-column
        img(src='../../assets/images/thumbnail-services.jpg')
        .slide-title
            span Биоревитализация
    .slide.d-flex.flex-column
        img(src='../../assets/images/thumbnail-services.jpg')
        .slide-title
            span Плазмотерапия
    .slide.d-flex.flex-column
        img(src='../../assets/images/thumbnail-services.jpg')
        .slide-title
            span Ферментотерапия
    .slide.d-flex.flex-column
        img(src='../../assets/images/thumbnail-services.jpg')
        .slide-title
            span Ботулинотерапия

