.custom-container
    span.section-title Команда
.team-slider.owl-carousel
    .slide
        .dr-photo
            img(src='../../assets/images/team-slider-img-1.png')
            img(src='../../assets/images/slide-bg.png').slide-bg
        .dr-photo-mobile
            img(src='../../assets/images/slider-img.png')
        .custom-container
            .slide-desc.d-flex.flex-column
                span.dr-name Роксана Твардовская
                span.dr-position Врач, косметолог
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi commodi consequatur consequuntur deserunt dolorum eos et eveniet excepturi fuga hic ipsam iure libero maxime modi necessitatibus, nemo neque non officia optio pariatur perspiciatis quis quos repellendus rerum sunt tempore ullam unde voluptate voluptatem? Consequatur deserunt molestias nemo neque quod sapiente voluptate. A adipisci cumque esse explicabo, ipsum praesentium provident voluptatum. A dolorem dolores est ipsam laudantium perferendis quasi repellendus voluptas voluptatibus! Dolor eius eligendi est et, ipsam labore nam, nemo porro, repellendus reprehenderit rerum veritatis.
    .slide
        .dr-photo
            img(src='../../assets/images/team-slider-img-2.png')
            img(src='../../assets/images/slide-bg.png').slide-bg
        .dr-photo-mobile
            img(src='../../assets/images/slider-img.png')
        .custom-container
            .slide-desc.d-flex.flex-column
                span.dr-name Роксана Твардовская
                span.dr-position Врач, косметолог
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi commodi consequatur consequuntur deserunt dolorum eos et eveniet excepturi fuga hic ipsam iure libero maxime modi necessitatibus, nemo neque non officia optio pariatur perspiciatis quis quos repellendus rerum sunt tempore ullam unde voluptate voluptatem? Consequatur deserunt molestias nemo neque quod sapiente voluptate. A adipisci cumque esse explicabo, ipsum praesentium provident voluptatum. A dolorem dolores est ipsam laudantium perferendis quasi repellendus voluptas voluptatibus! Dolor eius eligendi est et, ipsam labore nam, nemo porro, repellendus reprehenderit rerum veritatis.
    .slide
        .dr-photo
            img(src='../../assets/images/team-slider-img-3.png')
            img(src='../../assets/images/slide-bg.png').slide-bg
        .dr-photo-mobile
            img(src='../../assets/images/slider-img.png')
        .custom-container
            .slide-desc.d-flex.flex-column
                span.dr-name Роксана Твардовская
                span.dr-position Врач, косметолог
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi commodi consequatur consequuntur deserunt dolorum eos et eveniet excepturi fuga hic ipsam iure libero maxime modi necessitatibus, nemo neque non officia optio pariatur perspiciatis quis quos repellendus rerum sunt tempore ullam unde voluptate voluptatem? Consequatur deserunt molestias nemo neque quod sapiente voluptate. A adipisci cumque esse explicabo, ipsum praesentium provident voluptatum. A dolorem dolores est ipsam laudantium perferendis quasi repellendus voluptas voluptatibus! Dolor eius eligendi est et, ipsam labore nam, nemo porro, repellendus reprehenderit rerum veritatis.
    .slide
        .dr-photo
            img(src='../../assets/images/team-slider-img-4.png')
            img(src='../../assets/images/slide-bg.png').slide-bg
        .dr-photo-mobile
            img(src='../../assets/images/slider-img.png')
        .custom-container
            .slide-desc.d-flex.flex-column
                span.dr-name Роксана Твардовская
                span.dr-position Врач, косметолог
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi commodi consequatur consequuntur deserunt dolorum eos et eveniet excepturi fuga hic ipsam iure libero maxime modi necessitatibus, nemo neque non officia optio pariatur perspiciatis quis quos repellendus rerum sunt tempore ullam unde voluptate voluptatem? Consequatur deserunt molestias nemo neque quod sapiente voluptate. A adipisci cumque esse explicabo, ipsum praesentium provident voluptatum. A dolorem dolores est ipsam laudantium perferendis quasi repellendus voluptas voluptatibus! Dolor eius eligendi est et, ipsam labore nam, nemo porro, repellendus reprehenderit rerum veritatis.
    .slide
        .dr-photo
            img(src='../../assets/images/team-slider-img-5.png')
            img(src='../../assets/images/slide-bg.png').slide-bg
        .dr-photo-mobile
            img(src='../../assets/images/slider-img.png')
        .custom-container
            .slide-desc.d-flex.flex-column
                span.dr-name Роксана Твардовская
                span.dr-position Врач, косметолог
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi commodi consequatur consequuntur deserunt dolorum eos et eveniet excepturi fuga hic ipsam iure libero maxime modi necessitatibus, nemo neque non officia optio pariatur perspiciatis quis quos repellendus rerum sunt tempore ullam unde voluptate voluptatem? Consequatur deserunt molestias nemo neque quod sapiente voluptate. A adipisci cumque esse explicabo, ipsum praesentium provident voluptatum. A dolorem dolores est ipsam laudantium perferendis quasi repellendus voluptas voluptatibus! Dolor eius eligendi est et, ipsam labore nam, nemo porro, repellendus reprehenderit rerum veritatis.
    .slide
        .dr-photo
            img(src='../../assets/images/team-slider-img-6.png')
            img(src='../../assets/images/slide-bg.png').slide-bg
        .dr-photo-mobile
            img(src='../../assets/images/slider-img.png')
        .custom-container
            .slide-desc.d-flex.flex-column
                span.dr-name Роксана Твардовская
                span.dr-position Врач, косметолог
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi commodi consequatur consequuntur deserunt dolorum eos et eveniet excepturi fuga hic ipsam iure libero maxime modi necessitatibus, nemo neque non officia optio pariatur perspiciatis quis quos repellendus rerum sunt tempore ullam unde voluptate voluptatem? Consequatur deserunt molestias nemo neque quod sapiente voluptate. A adipisci cumque esse explicabo, ipsum praesentium provident voluptatum. A dolorem dolores est ipsam laudantium perferendis quasi repellendus voluptas voluptatibus! Dolor eius eligendi est et, ipsam labore nam, nemo porro, repellendus reprehenderit rerum veritatis.

