.promo{
  height: 100vh;
  width: 100%;
  background-color: #222222;
  position: relative;
  overflow: hidden;

  &::before{
    content: '';
    position: absolute;
    left: 153px;
    top: 100px;
    bottom: 0;
    width: 2px;
    background-color: #D2D6DD;
    z-index: 10;
  }
  &::after{
    content: '';
    position: absolute;
    right: 153px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #D2D6DD;
    z-index: 10;
  }

  .bg-flower{
    position: absolute;
    left: 0;
    top: 0;
    top: 100px;
    height: calc(100vh - 100px);
  }
  
  .socials{
    position: absolute;
    left: 55px;
    top: 50%;
    transform: translateY(-50%);
    color: #D2D6DD;

    a {
      &:hover{
        color: $gold;
      }

      & + a {
        margin-top: 55px;
      }

    }

  }

  .promo-content{
    display: none;
  }

  .promo-slider{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    left: 300px;

    .owl-dots{
      margin-top: 30px;
      position: absolute;
      left: 50%;
      transform: translateX(-230%);
    }

    .slide{
      background-color: $bg_color;
      height: calc(100vh - 75px);
      position: relative;

      .slider-img{
        position: absolute;
        bottom: 0px;
        right: 445px;
        width: auto;
        height: calc(100% - 90px);
      }

      .slide-content{
        position: absolute;
        top: calc(50% + 100px);
        transform: translateY(-50%);
        padding-left: 50px;

        .title{
          font-size: 101px;
          font-family: "Baskerville-Semi-Bold";
          color: #fff;
        }

        .sub-title{
          font-size: 33px;
          color: $gold;
          font-family: "Century-Gothic";
        }

        .sign-up{
          margin-top: 135px;
        }

      }

    }

  }

}
